<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript">
function myFunction(){
	var UserEntity = {firstName:'ajaxUserF1',lastName:'ajaxUserL1'}
	$.ajax({
		type:"POST",
		contentType:"application/json;charset=utf-8",
		data: JSON.stringify(UserEntity),
		url:"/user",
		success:function(data){
			alert(data);
		}, error:function(data) {
			alert("fail" + data);
		}
	});
}
</script>
</head>
<body>
<form onSubmit="myFunction()">
Name:<br/>
<input type="text" /> <br/>                 
Password<br/>
<input type="text" />    <br/>       
<button type="submit">Submit</button><br/>
</form>
</body>
</html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
	<!--
		$.post( "http://localhost:8182/movie", 
	{
		{"movieName" : "movie5",
	"availableCinemas" : ["Miskolc,Ozd"],
	"movieGenre" : ["Action","Comedy"],
	"datesAndSeats" : [{"cinemaName":"Miskolc","showDate":"2017-04-25T15:00"},{"cinemaName":"Ozd","showDate":"2017-04-28T13:00"}]
	}

	 );
		
		var UserEntity = {firstName:'ajaxUserF1',lastName:'ajaxUserL1'}
	$.ajax({
		type:"POST",
		contentType:"application/json;charset=utf-8",
		data: JSON.stringify(UserEntity),
		url:"/user",
		success:function(data){
			alert(data);
		}, error:function(data) {
			alert("fail" + data);
		}
	});
		
	-->